@import url(https://fonts.google.com/specimen/Red+Hat+Display);
/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main styles */

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  background-size: contain;

  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
}

h1 {
  margin: 20px 0;
  font-weight: 900;
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  line-height: 25px;
  width: 78%;
  color: hsl(224, 23%, 55%);
}

h3 {
  font-weight: 900;
  font-size: 0.9rem;
}

button {
  width: 78%;
  height: 40px;
  border-radius: 10px;
  margin: 10px 0 20px 0;
  background: hsl(245, 75%, 52%);
  color: white;
  font-weight: 700;
}

button:hover {
  background-color: hsl(224, 23%, 55%);
}

/* CLASSES */
.orderCard {
  width: 86%;
  border-radius: 30px;
  text-align: center;
  max-width: 375px;
  background-color: whitesmoke;
}

.orderCard img {
  border-radius: 30px 30px 0 0;
}

.subscriptionBox {
  margin: 20px 0;
  flex-direction: row;
  justify-content: space-between;
  width: 78%;
  background: hsl(225, 100%, 98%);
  border-radius: 10px;
}

.subscriptionBox p {
  font-size: 0.9rem;
}

.subscriptionBox a {
  padding-right: 10px;
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
}

.subscriptionBox a:hover {
  text-decoration: none;
}
.cancel {
  margin-bottom: 30px;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}

.cancel:hover {
  color: black;
}
